:root {
    --blanco: white;
    --blanco-2: rgba(255, 255, 255, .2);
    --gris-f: #757575;
    --negro: black;
    --negro-5: rgba(0, 0, 0, .5);
    --negro-7: rgba(0, 0, 0, .75);
    --texto-oscuro: #1e1e1ed9;
    --texto-sky: #558aff;
    --sombra-ppal: #c9c9c9;

    /*tipografia*/
    --tipo-titular: 'Playfair Display', serif;
    --tipo-principal: 'Inter', sans-serif;
    --tipo-alternativo: 'Poppins', sans-serif;
}

/*esto lo hago para cambiar colores en base a si esta activo o no el dark mode*/
@media screen and (prefers-color-scheme:dark) {
    :root {
        --blanco: #181818;
        --blanco-2: rgba(0, 0, 0, .2);
        --gris-f: grey;
        --negro: #e0e0e0;
        --negro-5: rgba(255, 255, 255, .5);
        --negro-7: rgba(255, 255, 255, .75);
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

/*
img,
figure {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}
*/

a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: none;
}

video {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

form,
button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    display: flex;
    
    color: inherit;
}

body {

    min-height: 100vh;
    background-color: var(--negro);
    color: var(--blanco);
    font-smoot: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: none;

}

img{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}
li{
    list-style-type: none;
}

.circulos {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    filter: blur(40px);
    animation: circulo1 50s linear infinite both;

}

.circulos .circulo {
    position: absolute;
    width: 50%;
    height: 50%;

    animation: circulo1 50s linear infinite both;
}

.circulos .circulo1 {
    top: 0%;
    left: 0%;

}

.circulos .circulo1 .path {
    fill: var(--gris-f);
}

.circulos .circulo2 {
    top: 0%;
    right: 0%;
}

.circulos .circulo2 .path {
    fill: var(--negro);
}

.circulos .circulo3 {
    bottom: 0%;
    left: 0%;
}

.circulos .circulo3 .path {
    fill: #2e8b57;
}

.circulos .circulo4 {
    bottom: 0%;
    right: 0%;
}

.circulos .circulo4 .path {
    fill: skyblue;
}

.header {
    width: 100%;
    min-height: 5em;

    padding: 1em 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    display: none;
}

.header .ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header .li {
    margin: 0 1em;
}

.main {
    background-color: var(--negro-7);
    margin: 0 0 1em;
    text-align: center;
    position: relative;
    z-index: 2;

}

.seccion {
    width: 100%;
    min-height: 80vh;
    padding: 2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: var(--tipo-principal);
}

.seccion .info {
    font-size: 1.2em;
    animation: aparecer1 2s ease 1 both;
}

.seccion .ul {

    margin: 2em 0 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.seccion .ul .li {

    margin: 0 1em;
}

.seccion .ul .a {
    color: var(--texto-oscuro);
    font-weight: 600;
    border-top: 1px solid var(--blanco-2);

    padding: 1em 1em 1em;
    text-transform: uppercase;

    transition: all .5s ease;
    animation: aparecer1 2s ease 1 backwards;
}

.seccion .ul>:nth-child(2) .a {
    animation-delay: .2s;
}

.seccion .ul .a:hover {
    /*background-color: var(--negro-7);*/
    color: var(--blanco)
}

.seccion .h2 {
    font-family: var(--tipo-alternativo);
    font-weight: 600;
    font-size: 5rem;
    line-height: 1em;
    color: var(--blanco);
    mix-blend-mode: exclusion;

}

.seccion .h3 {
    font-family: var(--tipo-alternativo);
    font-size: 3rem;
    color: var(--texto-oscuro);
    /*font-style: italic;*/
    text-transform: uppercase;
}

.proyectos {
    color: var(--blanco);
}

.proyectos .h2 {
    margin: 0 0 1rem;
    color: inherit;
}

.proyectos .p {
    font-size: 1.1em;
    text-align: justify;
}
.carrusel {
  width: 90%;
  max-width: 120em;
  padding: 2em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;  
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}

.carrusel .contenedor{
    
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    padding: 2em;
    transition: all 0.5s ease;
    transform: translateX(0%);
}

.carrusel .contenedor .article { 

 width: calc( 400vw / 4);
 
 min-height: 20vh;
 margin:1em; 
 position: relative;
 object-fit: cover;
 
}

.carrusel .article .a{    
    width: 100%;

    display: flex;
    justify-content: center;
}
.carrusel .contenedor .article .img {
    

    height: 70vh;
    min-height: 10vh;
    width: 34em;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    margin: 0.5em 1.5em;   
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}

.carrusel .article .h4 {
    

    width: 23em;
    height: 98%;
    color: var(--blanco);

    backdrop-filter: blur(1rem);

    position: absolute;
    bottom: 0;
    padding: 0em 4em;
    margin-bottom: 0.3em;
    

    font-size: 1.5rem;
    font-family: var(--tipo-alternativo);
    /*font-style: italic;    */
    
    border-radius: 1em;
    opacity: 0;
    transform: translateZ(1) scale(1);
    transition: all .5s ease;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}

.carrusel .puntos{
    width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.carrusel .punto{
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  
}
.carrusel .punto.activo {
    background-color: var(--texto-sky)
    /*lightblue*/
}

.carrusel .article .img:hover {
    opacity: 0.8;
}

.carrusel .article .h4:hover{
    opacity: 1;
    transform: translateZ(1) scale(0.8);
    
}


.skills .rrss {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.skills .li {
    margin: 1em 1em;
}

.skills .svg {
    width: 3em;
    height: 3em;
}

.about {}

.about .h2 {
    margin: 0 0 2rem;
}

.about .p {
    max-width: 40rem;
    margin: 0 0 2rem;
    font-size: 1.1em;
    text-align: justify;
}

.about .rrss {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.about .li {
    margin: 0 1em;
}

.about .a {}

.about .svg {
    width: 3em;
    height: 3em;
}

.footer {
    padding: 2em 0;
    text-align: center;

    position: relative;
    z-index: 2;
}

.footer .span {
    font-family: var(--tipo-alternativo);
    font-size: 2.0rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--texto-oscuro);
    opacity: .5;
}

@keyframes circulo1 {
    from {
        transform: rotate(0deg) scale(2.5);
    }

    to {
        transform: rotate(360deg) scale(2.5);
    }
}

@keyframes aparecer1 {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0%)
    }
}

#cursor {
    width: 5em;
    height: 5em;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
    border-radius: 50%;
    mix-blend-mode: difference;
}

#cursor.mini {
    transform: scale(0.7);

}