:root {
  --blanco: white;
  --blanco-2: rgba(255, 255, 255, 0.2);
  --gris-f: #757575;
  --negro: black;
  --negro-5: rgba(0, 0, 0, 0.5);
  --negro-7: rgba(0, 0, 0, 0.75);
  --texto-oscuro: #1e1e1ed9;
  --texto-sky: #558aff;
  --sombra-ppal: #c9c9c9;

  /*tipografia*/
  --tipo-titular: "Playfair Display", serif;
  --tipo-principal: "Inter", sans-serif;
  --tipo-alternativo: "Poppins", sans-serif;
}

/*esto lo hago para cambiar colores en base a si esta activo o no el dark mode*/
@media screen and (prefers-color-scheme: dark) {
  :root {
    --blanco: #181818;
    --blanco-2: rgba(0, 0, 0, 0.2);
    --gris-f: grey;
    --negro: #e0e0e0;
    --negro-5: rgba(255, 255, 255, 0.5);
    --negro-7: rgba(255, 255, 255, 0.75);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: none;
}

video {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

form,
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: flex;

  color: inherit;
}

body {
  min-height: 100vh;

  background-color: var(--negro);
  color: var(--blanco);
  font-smoot: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

img {
  /* max-width: 100%; 
    width: 100%;*/
  display: block;
  object-fit: cover;
  object-position: center center;
}
li {
  list-style-type: none;
}

.circulos {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  filter: blur(40px);
  animation: circulo1 50s linear infinite both;
}

.circulos .circulo {
  position: absolute;
  width: 50%;
  height: 50%;

  animation: circulo1 50s linear infinite both;
}

.circulos .circulo1 {
  top: 0%;
  left: 0%;
}

.circulos .circulo1 .path {
  fill: var(--gris-f);
}

.circulos .circulo2 {
  top: 0%;
  right: 0%;
}

.circulos .circulo2 .path {
  fill: var(--negro);
}

.circulos .circulo3 {
  bottom: 0%;
  left: 0%;
}

.circulos .circulo3 .path {
  fill: #2e8b57;
}

.circulos .circulo4 {
  bottom: 0%;
  right: 0%;
}

.circulos .circulo4 .path {
  fill: skyblue;
}

.header {
  width: 100%;
  min-height: 5em;

  padding: 1em 2em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  display: none;
}

.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header .li {
  margin: 0 1em;
}

.main {
  background-color: var(--negro-7);
  margin: 0 0 1em;
  text-align: center;
  position: relative;
  z-index: 2;
}
.main .p {
  margin: 30px 60px;
  text-align: center;
}

.seccion {
  width: 100%;
  min-height: 80vh;
  padding: 2em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: var(--tipo-principal);
}

.seccion .info {
  font-size: 1.2em;
  animation: aparecer1 2s ease 1 both;
}

.seccion .ul {
  margin: 2em 0 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.seccion .ul .li {
  margin: 0 1em;
}

.seccion .ul .a {
  color: var(--texto-oscuro);
  font-weight: 600;
  border-top: 1px solid var(--blanco-2);

  padding: 1em 1em 1em;
  text-transform: uppercase;

  transition: all 0.5s ease;
  animation: aparecer1 2s ease 1 backwards;
}

.seccion .ul > :nth-child(2) .a {
  animation-delay: 0.2s;
}

.seccion .ul .a:hover {
  /*background-color: var(--negro-7);*/
  color: var(--blanco);
}

.seccion .h2 {
  font-family: var(--tipo-alternativo);
  font-weight: 600;
  font-size: 5rem;
  line-height: 1em;
  color: var(--blanco);
  mix-blend-mode: exclusion;
}

.seccion .h3 {
  font-family: var(--tipo-alternativo);
  font-size: 3rem;
  color: var(--texto-oscuro);
  /*font-style: italic;*/
  text-transform: uppercase;
}

/* .proyectos {
    color: var(--blanco);
}

.proyectos .h2 {
    margin: 0 0 1rem;
    color: inherit;
}

.proyectos .p {
    font-size: 1.1em;
    text-align: justify;
} */

/* etiquetas para lenguajes */
.tag {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}


.react { background-color: #61dafb; color: #3d3b3b; }
.vite { background-color: #646cff; color: #ffffffc2; }
.material-ui { background-color: #0081cb; color: #ffffffc2; }
.vercel { background-color: #548daf; color: #3d2727c2; }
.mercado-pago { background-color: #85c9b5; color: #000000ac; }
.react-router-dom { background-color: #ca4245; color: #ffffffc2; }
.firebase { background-color: #f7c52b; color: #3d3b3b; }
.axios { background-color: #5a2d82; color: #ffffffc2; }
.formik { background-color: #f16061; color: #ffffffc2; }
.yup { background-color: #979038e6; color: #ffffffc2; }
.sweetalert { background-color: #7c4f4f; color: #ffffffc2; }
.uuid { background-color: #6abf69; color: #3d3b3b; }
.canvas-confetti { background-color: #38a68e; color: #ffffffc2; }
.css { background-color: #2965f1; color: #ffffffc2; }
.html { background-color: #e34c26; color: #ffffffc2; }
.json-server { background-color: #11938e; color: #ffffffc2; }
.login { background-color: #3b63de; color: #ffffffc2; }
.context { background-color: #9a30c7; color: #ffffffc2; }
.protected { background-color: #bc2763; color: #ffffffc2; }  
.vb-net { background-color: #5d8aa8; color: #ffffffc2; }
.postgresql { background-color: #336791; color: #ffffffc2; }
.eFactura { background-color: #2d998a; color: #ffffffc2; }
.mysql { background-color: #7c9c2c; color: #ffffffc2; }
.js { background-color: #f0db4f; color: #3d3b3b; }
.java { background-color: #e76f00; color: #ffffffc2; }
.spring { background-color: #6db33f; color: #ffffffc2; }
.aws { background-color: #ff9900; color: #3d3b3b; }
.ansible { background-color: #000000; color: #ffffffc2; }
.bash { background-color: #62b75c4e; color: #3d3b3b; }
.git { background-color: #cd664e; color: #ffffffc2; }
.github { background-color: #198393; color: #ffffffc2; }
.tailwind { background-color: #0db7ed; color: #ffffffc2; }  
.postman { background-color: #7952b3; color: #ffffffc2; }


.h2 {
  font-family: var(--tipo-alternativo);
  font-weight: 600;
  font-size: 5rem;
  line-height: 1em;
  color: var(--blanco);
  mix-blend-mode: exclusion;
}
.p {
  font-family: var(--tipo-alternativo);
  font-size: 1.2em;
  text-align: justify;
  margin: 0 0 2rem;
}
.slider {
  padding: 40px 0;
}
.container {
  width: 90%;
  min-height: 60vh;
  max-width: 1200px;
  margin: 0 auto; /* para centrar el contenedor*/
  overflow: hidden;
}
.slider_container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 1em;
}
.slider_body {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  transition: opacity 1.5s;
}
.slider_body--show {
  opacity: 1;
  pointer-events: unset;
}
.slider_img {
  width: 430px;
  height: 430px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  transition: transform 0.5s;
}

.image-overlay {
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;  
  transition: opacity 0.5s;
}

.image-overlay img {
    width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider_body:hover .slider_img {
  transform: scale(1.05); 
  transition: transform 0.3s ease; 
  cursor: pointer;
  }  
  /* .slider_body:hover .image-overlay {
    opacity: 1;
  } */

.slider_texts {
  max-width: 600px;
}
.subtitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.slider_review {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
}
.slider_arrow {
  cursor: pointer;
  width: 90%;
}
.slider_arrow:nth-of-type(2) {
  justify-self: end;
}

.skills .rrss {
  display: flex;
  flex-flow: wrap;  
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills .li {
  flex-basis: calc(33.333% - 2em);
  margin: 1em 1em;
}

.skills .svg {
  width: 3em;
  height: 3em;
}

.columna {
 margin-bottom: 20px;
 display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
}

.columna .h3 {  
  margin: 20px 30px 10px;  
  font-size: 1rem;
  }

.about .h2 {
  margin: 0 0 2rem;
}

.about .p {
  max-width: 40rem;
  margin: 0 0 2rem;
  font-size: 1.1em;
  text-align: justify;
}

.about .rrss {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.about .li {
  margin: 0 1em;
}

.about .svg {
  width: 3em;
  height: 3em;
}

.footer {
  padding: 2em 0;
  text-align: center;

  position: relative;
  z-index: 2;
}

.footer .span {
  font-family: var(--tipo-alternativo);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--texto-oscuro);
  opacity: 0.5;
}

@keyframes circulo1 {
  from {
    transform: rotate(0deg) scale(2.5);
  }

  to {
    transform: rotate(360deg) scale(2.5);
  }
}

@keyframes aparecer1 {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

#cursor {
  width: 5em;
  height: 5em;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: difference;
}

#cursor.mini {
  transform: scale(0.7);
}

@media (max-width: 515px) {
  /* Estilos específicos para el h2 en pantallas más pequeñas */
  .skills .h2 {
    font-size: 3rem; /* Tamaño de letra reducido para pantallas más pequeñas */
  }
}

@media (max-width: 433px) {
  /* Estilos específicos para el h2 en pantallas más pequeñas */
  .proyectos .h2 {
    font-size: 3rem; /* Tamaño de letra reducido para pantallas más pequeñas */    
  }
}

@media (max-width: 494px) {
  /* Estilos específicos para el h2 en pantallas más pequeñas */
  .info .h2 {
    font-size: 3rem; /* Tamaño de letra reducido para pantallas más pequeñas */
  }
  .info .h3 {
    font-size: 2rem; /* Tamaño de letra reducido para pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  .slider_body {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 1em;
  }
  .slider_picture {
    grid-row: 1/2;
  }

  .slider_img {
    width: 210px;
    height: 210px;
  }
}

@media (max-width: 425px) {
  .slider_container {
    grid-template-columns: 25px 1fr 25px;
  }
  .slider_arrow {
    width: 100%;
  }

  .slider_img {
    width: 180px;
    height: 180px;
  }

  .subtitle {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .slider_review {
    font-size: 1rem;
    line-height: 1.6;
  }
}
